{# Load the CSS and JS files #}
<link rel="stylesheet" href="{{ '/assets/css/subscribe.css' | relative_url }}">

<section id="subscribe-cta">
  <h3>Want to get blog posts over email?</h3>
  <p>Enter your email address and get notified when there's a new post!</p>
  <form id="subscribe-form" action="https://formspree.io/f/{{ site.formspree_id }}" method="POST">
    <div class="form-inputs">
      <input
        type="email"
        id="subscribe-email"
        name="email"
        placeholder="helmholtzwatson@gmail.com"
        required
      />
      <input type="submit" value="Subscribe" />
    </div>
    <p id="subscribe-message" style="display: none;"></p>
  </form>
</section>

<script src="{{ '/assets/js/subscribe.js' | relative_url }}"></script> 