---
layout: default
tags: thoughts
---

{% assign thoughts_count = site.thoughts | size %}

<h1>Thoughts</h1>

<div class="home">
  {% if thoughts_count > 0 %}
  <div class="posts">
    {% assign sorted_thoughts = site.thoughts | sort: 'date' | reverse %}
    {% for thought in sorted_thoughts %}
    <div class="post py3">
      <p class="post-meta">
        <span>{{ thought.date | date: site.date_format }}</span>
        {% if thought.tags contains "popular" %}
        <span class="post-meta-popular-tag">Popular</span>
        {% endif %}
      </p>
      <a href="{{ thought.url | prepend: site.baseurl }}" class="post-link"
        ><h3 class="h2 post-title">{{ thought.title }}</h3></a
      >
      <p class="post-summary">
        {% if thought.summary %} {{ thought.summary }} {% else %} {{ thought.excerpt }}
        {% endif %}
      </p>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>